
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LokateMasterPage.cshtml";
}


<div id="content">

    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="quick-actions_homepage">
        <ul class="quick-actions">
            @*<li> <a href="#"> <i class="icon-dashboard"></i> My Dashboard </a> </li>
            <li> <a href="#"> <i class="icon-web"></i> Web Marketing </a> </li>*@
            <li> <a href="#"> <i class="fa fa-users fa-4x"></i> Manage Users </a> </li>
            <li> <a href="#"> <i class="fa fa-calendar-check-o fa-4x"></i> Manage Events </a> </li>
        </ul>
    </div>
</div> 