@model Lokate.Models.Registration

@{
    ViewBag.Title = "Congratualation";
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}



<div>
    <h2>Congratualation, @Model.CompanyName</h2>
    <hr />
  <p>Your Registration has been successfully completed. An email will be sent once you have passed the review and approval stage.</p>
</div>

